---

---

<a class="rounded-full border dark:border-white/10 flex justify-center 
    items-center gap-x-2 md:px-3 md:py-1.5 px-2 py-1
    dark:bg-white/5 text-xs md:text-sm border-black/10 text-black
    dark:text-white
    bg-black/5 dark:hover:bg-black/10
    hover:scale-105 dark:hover:bg-white/10 transition"   
    {...Astro.props}
	target="_blank"
    rel="noopener noreferer">
    <slot />
</a>